#!/bin/sh
xrandr --output {{ .laptop }} --mode 1920x1200 --pos 320x1440 --rotate normal --output {{ .external }} --primary --mode 2560x1440 --pos 0x0 --rotate normal --output DP2 --off --output DP3 --off --output VIRTUAL1 --off
