#!/bin/bash

HELP="Usage: sudo ./configure.sh
Automatically configure Arch Linux

Examples:
$ sudo ./configure.sh"

source $(dirname "$0")/shared.sh

if [ -z "$SUDO_USER" ]; then
    echo "$HELP"
    exit 1
fi

banner "I will configure docker"
usermod -aG docker {{ .chezmoi.username }}
systemctl enable docker

banner "I will configure snap"
systemctl enable --now snapd.socket
snap wait system seed.loaded

banner "I will configure mount a partition without asking for my password"

if [ ! -f "/etc/polkit-1/rules.d/99-mount-partitions.rules" ]; then
    cat <<EOT >>/etc/polkit-1/rules.d/99-mount-partitions.rules
// Password-less mounting of local partitions
polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.udisks2.filesystem-mount-system" && subject.isInGroup("wheel")) {
       return polkit.Result.YES;
    }
});
EOT
fi
