#!/bin/bash

HELP="Usage: sudo ./configure.sh
Automatically configure Arch Linux

Examples:
$ sudo ./configure.sh"

source $(dirname "$0")/shared.sh

if [ -z "$SUDO_USER" ]; then
    echo "$HELP"
    exit 1
fi
NORMAL_USER="{{ .chezmoi.username }}"

banner "I will configure fstrim"
systemctl enable fstrim.timer

banner "I will configure docker"
usermod -aG docker {{ .chezmoi.username }}
systemctl enable docker

banner "I will configure snap"
systemctl enable --now snapd.socket
snap wait system seed.loaded

banner "I will configure nordVPN"
systemctl enable nordvpnd.service
systemctl start nordvpnd.service

banner "I will configure TLP"
systemctl enable tlp.service
systemctl mask systemd-rfkill.service
systemctl mask systemd-rfkill.socket
systemctl start tlp.service

banner "I will configure bluetooth"
sed -i "s?#AutoEnable=false?AutoEnable=true?g" /etc/bluetooth/main.conf   
systemctl enable bluetooth.service
systemctl start bluetooth.service

banner "I will configure mount a partition without asking for my password"

if [ ! -f "/etc/polkit-1/rules.d/99-mount-partitions.rules" ]; then
    cat <<EOT >>/etc/polkit-1/rules.d/99-mount-partitions.rules
// Password-less mounting of local partitions
polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.udisks2.filesystem-mount-system" && subject.isInGroup("wheel")) {
       return polkit.Result.YES;
    }
});
EOT
fi

banner "I will change default diff tool and merge tool to p4merge"
sudo -u "$NORMAL_USER" -- sh -c "
    set -e
    git config --global diff.tool p4merge
    git config --global difftool.p4merge.path \"/usr/bin/p4merge\"
    git config --global difftool.prompt false

    # change merge tool
    git config --global merge.tool p4merge
    git config --global mergetool.p4merge.path \"/usr/bin/p4merge\"
    git config --global mergetool.prompt false
    "

banner "I will change default diff tool and merge tool to p4merge"
sudo -u "$NORMAL_USER" -- sh -c "
    git config --global user.email "waleed_meselhy@eng.asu.edu.eg"
    git config --global user.name "Waleed Meselhy"
    "
tee -a /etc/X11/xorg.conf.d/10-nvidia-drm-outputclass.conf >/dev/null <<EOT
Section "OutputClass"
    Identifier "intel"
    MatchDriver "i915"
    Driver "modesetting"
EndSection

Section "OutputClass"
    Identifier "nvidia"
    MatchDriver "nvidia-drm"
    Driver "nvidia"
    Option "AllowEmptyInitialConfiguration"
    Option "PrimaryGPU" "yes"
    ModulePath "/usr/lib/nvidia/xorg"
    ModulePath "/usr/lib/xorg/modules"
EndSection
EOT

tee -a /etc/X11/xorg.conf.d/30-touchpad.conf >/dev/null <<EOT
Section "InputClass"
    Identifier "touchpad"
    Driver "libinput"
    MatchIsTouchpad "on"
    Option "Tapping" "on"
    Option "NaturalScrolling" "true"
    Option "TappingButtonMap" "lrm"
EndSection
EOT

sudo -u "$NORMAL_USER" -- sh -c "
    set -e
    python ~/.scripts/get_wallpapers.py
    "
